body{
    background:linear-gradient(#070b2c,#4d5386 );
    margin-top:3em;
}
h1{
    font-family: $primary-font;
    margin-top: 40px;
    color: $primary-font-color;
    text-align: center;
    font-size: 50px;

}
.container{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
    background:linear-gradient(#f0f0ff,#7979b1);
    min-height: 700px;
}

.row{
    height: 300px;
    margin: 20px 10px;
  }
  .my-row{
      width:100%;
      opacity: .5;
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
  }
  .my-row:hover{
      opacity: 1;
  }
  .col{
      border: 1px solid white;
  }
  .navbar{
      background-color:#7979b1;
      opacity: .75;
      margin: 10px;
  }
  .primary{
      position: 0px -150px;
  }

img{
    max-width:100%;
    object-fit: contain;
}
.div1{
    background-image: url(assets/ahri.jpg);
    background-position: -50px -20px;
    object-fit:contain;
}
.div2{
    background-image: url(assets/gerudolink.jpg);
    object-fit: contain;
}
.div3{
    background-image: url(assets/lapis.jpg);
    height: 300px;
    background-position: 0px -30px;
}
.div4{
    background-image: url(assets/mercy.jpg);
    background-size: cover;
}
.div5{
    background-image: url(assets/spiritedaway.jpg);
    background-size: cover;
    background-position: 0px -30px;
}
.div6 {
    background-image: url(assets/vanessa.jpg);
    background-size: cover;
}
.div7 {
    background-image: url(assets/Tsuyu.jpg);
    background-size: cover;
}
.div8 {
    background-image: url(assets/lars.jpg);
    background-size: cover;
}
.div9 {
    background-image: url(assets/sora.jpg);
    background-size: cover;
    background-position: 0px -90px;
}