@import url("https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat");
@-webkit-keyframes colorchange {
  0% {
    size: 20px;
  }
  50% {
    size: 30px;
  }
  100% {
    size: 20px;
  }
}
@keyframes colorchange {
  0% {
    size: 20px;
  }
  50% {
    size: 30px;
  }
  100% {
    size: 20px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    color: #d0e7ee;
    text-align: center;
  }
  body {
    background-color: black;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #393D5B;
    min-height: 60vh;
    width: 600px;
    border: 2px solid white;
  }
  .container div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 20px;
    margin: 10px 5px;
    width: 400px;
    height: 400px;
  }
  .container div:hover {
    background-color: cadetblue;
  }
  .container .first {
    background-color: azure;
  }
  .container .second {
    background-color: aquamarine;
  }
  .container .third {
    background-color: azure;
  }
  .container .fourth {
    background-color: aquamarine;
  }
}

@media (min-width: 768px) {
  body {
    background-color: black;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    color: #d0e7ee;
    -webkit-animation: colorchange infinite;
            animation: colorchange infinite;
    text-align: center;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: #393D5B;
    min-height: 60vh;
    border: 2px solid white;
  }
  .container div {
    padding: 10px 20px;
    margin: 10px 5px;
    width: 650px;
    height: 1000px;
  }
  .container .first {
    background-color: azure;
    -webkit-transition-property: width background-color;
    transition-property: width background-color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .container .first:hover {
    width: 850px;
    background-color: cadetblue;
  }
  .container .second {
    background-color: aquamarine;
    -webkit-transition-property: width background-color;
    transition-property: width background-color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  .container .second:hover {
    width: 850px;
    background-color: cadetblue;
  }
  .container .third {
    background-color: azure;
    -webkit-transition-property: width background-color;
    transition-property: width background-color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  .container .third:hover {
    width: 850px;
    background-color: cadetblue;
  }
  .container .fourth {
    background-color: aquamarine;
    -webkit-transition-property: width background-color;
    transition-property: width background-color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  .container .fourth:hover {
    width: 850px;
    background-color: cadetblue;
  }
}
/*# sourceMappingURL=nelson_wdps.css.map */