@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@media (max-width: 768px) {
  h1 {
    font-family: "Poppins", sans-serif;
    color: #f0f0ff;
    text-align: center;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    color: #f0f0ff;
    text-align: center;
    opacity: .75;
  }
  a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(#070b2c), to(#4d5386));
    background: linear-gradient(#070b2c, #4d5386);
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #393D5B;
    min-height: 60vh;
    width: 600px;
    border: 2px solid white;
  }
  .container div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 20px;
    margin: 10px 5px;
    width: 400px;
    height: 400px;
  }
  .container div:hover {
    background-color: cadetblue;
  }
  .container .first {
    background-image: url(assets/chihiro.jpg);
    background-size: cover;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .container .second {
    background-image: url(assets/froppy.jpg);
    background-size: cover;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .container .third {
    background-image: url(assets/lazuli.jpg);
    background-size: cover;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .container .fourth {
    background-image: url(assets/shera.jpg);
    background-size: cover;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
}

@media (min-width: 768px) {
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(#070b2c), to(#4d5386));
    background: linear-gradient(#070b2c, #4d5386);
  }
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    text-align: center;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    color: #f0f0ff;
    text-align: center;
    opacity: .5;
    margin-bottom: 20px;
  }
  .title {
    color: #f0f0ff;
  }
  a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: #393D5B;
    min-height: 60vh;
    border: 2px solid white;
  }
  .container div {
    padding: 10px 20px;
    margin: 10px 5px;
    width: 650px;
    height: 1000px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .first {
    background-image: url(assets/chihiro.jpg);
    background-size: cover;
    background-position: -300px;
    opacity: .5;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .container .first:hover {
    width: 850px;
    opacity: 1;
  }
  .container .second {
    background-image: url(assets/froppy.jpg);
    background-size: cover;
    background-position: 600px;
    opacity: .5;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    opacity: .5;
  }
  .container .second:hover {
    width: 850px;
    opacity: 1;
  }
  .container .third {
    background-image: url(assets/lazuli.jpg);
    background-size: cover;
    background-position: 600px;
    opacity: .5;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .container .third:hover {
    width: 850px;
    opacity: 1;
  }
  .container .fourth {
    background-image: url(assets/shera.jpg);
    background-size: cover;
    opacity: .5;
    -webkit-transition-property: width opacity;
    transition-property: width opacity;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .container .fourth:hover {
    width: 850px;
    opacity: 1;
  }
}
/*# sourceMappingURL=nelson_wdps.css.map */