/* CSS Document */
.navbar {
	margin:0;
	padding:1px 2px;
	width: 12em;
	height: 2em;
}

ul{
	list-style-type: none;
	background: #B6B6B6;
}

li{
	float:left;
}
li a {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-style: bold;
	  display:block;
	  text-align: center;
	  padding: 8px 16px;
	  text-decoration: none;
}

h1 {
	color:#FF71BC;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: center;
}
h2 {
	font-style: italic;
	color:#AB73EF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

footer {
	font-size:10px;
	color:#7E7E7E;
}
footer a {
	color:#73AACC;
}

